﻿﻿@{
ViewData["Title"] = "Thông Tin Sinh Viên";
}

<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <p> Mã Sinh Viên : 2310900092</p>
    <p> Họ và Tên : Lâm Đức Tài </p>
    <p> Email : lamvietung1979@gmail.com</p>
    <p> Điện thoại : 0338962005</p>
    <p>Lớp : K23CNT3</p>
</div>