
@{
    ViewData["Title"] = "Thông tin member";
}
        var LdtMember = ViewBag.LdtMember as LdtLesson05Model.Models.DataModels.LdtMember;
<div class="alert alert-info">
    <h1>Thông tin member</h1>
    <hr>
    <p>Mã sinh viên: 2310900115</p>
    <p>Họ tên: Nguyễn Văn A</p>
    <p>Email: tung@gmail.com</p>
    <p>Lớp K23Cnt3</p>
    <p>Điện thoại: 0123456789</p>
    </hr>
</div>

